*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Crimson Text', serif;
}

.header{
  height: 100vh;
  width: 100%;
  background: url("../assets/background.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.header-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  font-size: 25px;
}

.sidebar {
  position: fixed;
  left: -350px;
  width: 350px;
  height: 100%;
  background: rgba(57, 43, 61, 0.5);
  display: flex;
  align-items: center;
  transition: all .5s ease;
}

.sidebar ul{
  width: 100%;
}

.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s;
}

ul li:hover a{
  padding-left: 50px;
}

.sidebar ul a i{
  margin-right: 16px;
}
                                                                                                                                                                                                                                            
#check{
  position: fixed;
  display: none;
}

label #btn,label #cancel{
  position: absolute;
  background: #000;
  border-radius: 3px;
  cursor: pointer;
}

label #btn{
  position: fixed;
  padding: 5px 10px;
  left: 40px;
  top: 25px;
  font-size: 25px;
  color: #fff;
  transition: linear .25s;
  z-index: 5;
}

label #cancel{
  padding: 5px 10px;
  position: fixed;
  text-align: center;
  z-index: 5;
  left: -150px;
  top: 25px;
  font-size: 25px;
  color: #fff;
  transition: all .5s ease;
}

#check:checked ~ .sidebar{
  left: 0;
}

#check:checked ~ label #btn{
  left: 50px;
  opacity: 0;
  pointer-events: none;
}

#check:checked ~ label #cancel{
  left: 295px;
}

#check:checked ~ section{
  margin-left: 250px;
}

.logo{
  position: absolute;
  right: 40px;
  top: 25px;
  color: #fff;
  font-size: 25px;
  background: ;
}

.main {
  width: 100%;
  height: 100%;
}

.section {
  height: 150vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../assets/img5.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.section hr{
  width: 80%;
  margin: auto;
}

.section h2 {
  padding-top: 50px;
  text-align: center;
  padding-bottom: 50px;
}

.container {
  display: flex;
}

.description-section {
  height: 100%;
  width: 100%;
  line-height: 25px;
  background: #fff;
}

.description-section p{
  padding-left: 170px;
  padding-top: 50px;
  padding-right: 150px;
  
}

.description-section h3{
  padding: 50px 0 0 150px;
  color: #000;
  
}

.img-1{
  background: url("../assets/img2.jpg") no-repeat center center fixed;
  background-attachment: fixed;
  height: 450px;
  width: 100%;
  margin: auto;
  margin-top: 100px;
}

