* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Crimson Text', serif;
}

.page {
  height: 100%;
  width: 100%;
}

.main {
  height: 250vh;
  width: 100%;
}

.header {
  height: 100vh;
  width: 100%;
  background: url("../assets/background.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#slogan {
  font-size: 25px;
}

.sidebar {
  position: fixed;
  left: -350px;
  width: 350px;
  height: 100%;
  background: rgba(57, 43, 61, 0.5);
  display: flex;
  align-items: center;
  transition: all .5s ease;
}

.menu {
  width: 100%;
}

.menu-item {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, .1);
  transition: .4s;
}

.menu li:hover a {
  padding-left: 50px;
}

#check {
  position: fixed;
  display: none;
}

label #btn-menu, label #btn-cancel {
  position: absolute;
  background: #000;
  border-radius: 3px;
  cursor: pointer;
}

label #btn-menu {
  position: fixed;
  padding: 5px 10px;
  left: 40px;
  top: 25px;
  font-size: 25px;
  color: #fff;
  transition: linear .25s;
  z-index: 5;
}

label #btn-cancel {
  padding: 5px 10px;
  position: fixed;
  text-align: center;
  z-index: 5;
  left: -150px;
  top: 25px;
  font-size: 25px;
  color: #fff;
  transition: all .5s ease;
}

#check:checked~.sidebar {
  left: 0;
}

#check:checked~label #btn-menu {
  left: 50px;
  opacity: 0;
  pointer-events: none;
}

#check:checked~label #btn-cancel {
  left: 295px;
}

#check:checked~section {
  margin-left: 250px;
}

.logo {
  position: absolute;
  right: 40px;
  top: 25px;
  color: #fff;
  font-size: 25px;
}

.main {
  width: 100%;
  height: 100%;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
  height: 250vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.underline {
  width: 80%;
  margin: auto;
}

#headline{
  padding-top: 50px;
  text-align: center;
  padding-bottom: 50px;
}

.content {
  height: 100vh;
  width: 100%;
  line-height: 25px;
  background: #fff;
}

.paragraph {
  padding-left: 170px;
  padding-top: 50px;
  padding-right: 150px;
}

.subtitle {
  padding: 50px 0 0 150px;
  color: #000;
}

.picture-1, .picture-2 {
  background-attachment: fixed;
  background-size: cover;
  height: 550px;
  width: 100%;
  margin-top: 100px;
}

.picture-1 {
  background: url("../assets/picture-1.jpg") no-repeat center center fixed;
}

.picture-2 {
  background: url("../assets/picture-2.jpg") no-repeat center center fixed;
}

.footer {
  width: 100%;
  height: 10vh;
  background: #fff;
}

.aside {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.socials, .additional-info {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
}

.socials-items, .list-item {
  margin-left: 5px;
  margin-right: 5px;
  color: #000;
}